@media screen and (min-width: 1000px)
and (max-width:9999999999999px){
  body{
  }
  .hd-logo{
    display: inline-block;
    float: left;
    width: 20%;
    height: 50px;
    background: #333333;
  }
  .hd-right{
    display: inline-block;
    float: right;
    width: 80%;
    height: 50px;
    background: #5c5c5c;
  }

  .r1img{
    display: block;
  }
  .r11img{
    display: block;
  }

}



@media screen and (min-width:500px)
and (max-width:1000px){
  body{
  }
  .hd-logo{
    display: block;
    overflow: hidden;
    height: 100%;
    float: left;
  }
  .hd-right{
    display: block;
    overflow: hidden;
    height: 100%;
    float: right;
  }

  #sm-menu-list{
    display: block;
  }

  .r1img{
    display: block;
  }
  .r11img{
    display: block;
  }
}



@media screen and (min-width:0px)
and (max-width:500px){
  body{
    background-color: #000;
  }
  .hd-logo{
    display: block;
    overflow: hidden;
    height: 100%;
    float: left;
  }
  .hd-right{
    display: block;
    overflow: hidden;
    height: 100%;
    float: right;
  }

  #sm-menu-list{
    display: block;
  }
}
